<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
<title>Sistema Informativo Geografico - CTT - FEM</title>

<!--link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"-->
<link rel="stylesheet" href="css/meteo.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
   <link rel="stylesheet" href="css/layouts/side-menu.css">
    <!--<![endif]-->
    
    <!-- script per menu responsivo-->
<script src="js/ui.js"></script>
<script src="js/menus.js"></script>
<?php include ("library.php");?>