        <div class="header">
            <div class="pure-g">
                <div class="pure-u-1-2">
                <img class="pure-img-responsive" src="inc/logo_sig2.png" alt="  C.T.T. - S.I.G."><br/>
                </div>
                <div class="pure-u-1-2">
                <img class="pure-img-responsive" src="inc/logo_fem2.png" alt="  F.E.M.">
                </div>
            </div>
        </div>