<div class="content">
           
            <h2 class="content-subhead">Dati Meteo</h2>
            <?php 
           /* $linkMeteo=connectMeteo();
            $dati=getLastData($linkMeteo);
            //echo $dati;
            foreach($dati as $riga){
                print_r ($riga);
            }*/
            ?>

</div>
