 <div class="pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Flickr</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Messenger</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li>
        <li class="pure-menu-item pure-menu-has-children">
            <a href="#" id="menuLink1" class="pure-menu-link" aria-haspopup="true">More</a>
            <ul class="pure-menu-children" role="menu" aria-labelledby="menuLink1" aria-hidden="true">
                <li class="pure-menu-item" role="presentation"><a href="#" class="pure-menu-link" role="menuitem">Autos</a></li>
                <li class="pure-menu-item" role="presentation"><a href="#" class="pure-menu-link" role="menuitem">Flickr</a></li>
                <li class="pure-menu-item pure-menu-has-children" role="presentation">
                    <a href="#" id="menuLink1" class="pure-menu-link" role="menuitem" aria-haspopup="true">Even More</a>
                    <ul class="pure-menu-children" role="menu" aria-labelledby="menuLink1" aria-hidden="true">
                        <li class="pure-menu-item" role="presentation"><a href="#" class="pure-menu-link" role="menuitem">Foo</a></li>
                        <li class="pure-menu-item" role="presentation"><a href="#" class="pure-menu-link" role="menuitem">Bar</a></li>
                        <li class="pure-menu-item" role="presentation"><a href="#" class="pure-menu-link" role="menuitem">Baz</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>