<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
    <span></span>
</a>
<!---- sezione menu--->
<div id="menu">
    <div class="pure-menu-heading">
        <a  class='pure-button' href='logout.php' >Logout</a>
    </div>
    <div class="pure-menu ">
        <ul class="pure-menu-list">
        <?php 
            $linkSito=connectSito();
            $query="select * from sito.menu_pure where ordine=0 order by sezione";
            $result=mysqli_query($linkSito,$query);
            while ($riga=mysqli_fetch_array($result)){
                echo "<li class='pure-menu-item menu-item-divided'>";
                echo "<a href='$riga[4]' class='pure-menu-link'>";
                echo $riga[3];
                echo"</a></li>";
            }
            
            ?>
    <!--
                <li class="pure-menu-item">
                <a href="index.php" class="pure-menu-link">Home</a>
                </li>
                <li class="pure-menu-item menu-item-divided ">
                <a href="index.php" class="pure-menu-link">Mappa</a>
                </li>
                <li class="pure-menu-item  menu-item-divided ">
                <a href="#" class="pure-menu-link ">Dati</a>
                </li>
                <li class="pure-menu-item menu-item-divided " >
                <a href="#" class="pure-menu-link">Tabelle Sinottiche</a>
                </li>
                <li class="pure-menu-item  menu-item-divided">
                <a href="#" class="pure-menu-link">Grafici</a>
                </li>
                </li>
                <li class="pure-menu-item  menu-item-divided">
                <a href="#" class="pure-menu-link">Modelli</a>
                </li>
                </li>
                <li class="pure-menu-item  menu-item-divided">
                <a href="#" class="pure-menu-link">Gelate</a>
                </li>
                </li>
                <li class="pure-menu-item  menu-item-divided">
                <a href="#" class="pure-menu-link">Progetti</a>
                </li>
                </li>
                <li class="pure-menu-item  menu-item-divided">
                <a href="#" class="pure-menu-link">Previsioni</a>
                </li>
                </li>
                <li class="pure-menu-item  menu-item-divided">
                <a href="#" class="pure-menu-link">App</a>
                </li>
                <li class="pure-menu-item  menu-item-divided">
                </li>
                -->
            </ul>
        </div>
    </div>
	
